/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */

/* Main Components*/

.jumbotron {
  background-image: url("../images/faces.jpg");
  background-size: cover;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Bree Serif', serif;
  background-color: #6e8f8f !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #6699ff;
}

.lead {
  text-align: center;
}

a.btn {border-radius: .25rem; 
  border: 1px solid transparent; 
  padding: .3rem .4rem; 
}
a.btn:hover { 
  border-radius: .25rem; 
}
a.btn {
  font-size:0.9rem;
  color: #c9d1c8;
}
a.btn-sm {
  font-size: 0.8rem; 
  color: #c9d1c8;
}

/* header {
  background: #333;
} */

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
}

a {
  color: #d21034;
}

/* Selecting elements by class */
.container {
  width: 100%;
  margin: 0 auto;
}


