<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alef|Quantico&display=swap" rel="stylesheet">
    <title>Gender and Faces</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container" id="jumbot">
          <h1 class="display-4">Gender Recognition Machine Learning Project</h1>
          <p class="lead">Presented by "The Abandoned"<br> Julian Yanez, Trevor Kulbeth, Kelly McVey & Connor Crossey</p>
          <!-- <a href="/" class="btn btn-dark">Home</a>
          <a href="/about_us" class="btn btn-dark">About Us</a> -->
        </div>
      </div>
      <nav class="navbar navbar-expand-sm navbar-light">
          <!-- <a class="navbar-brand" href="/">Home</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/upload_image">Upload Image</a>
              <a class="nav-item nav-link" href="/about_us">About Us</a>
              <!-- <a class="nav-item nav-link" href="#">Pricing</a>
              <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
            </div>
          </div>
        </nav>
    <section>
      <div class="container">
        <div class="row justify-content-md-center">
          <!-- Project introduction -->
          <div class="col col-lg-12">
                <h2>How does your computer web camera recognize your face?</h2>
                <p><strong>Through face recognition machine learning!</strong><br><br> Our 'Machine Learning Project' trained a data set of approximately 20,000 images of peoples faces to help us build a model which can specifically recognize a persons gender, using the webcam feature below.</p>
                <p>Specifically we used the following programs:</p>
                <p><strong>Python Flask</strong></p>
                <p><strong>Keras</strong></p>
                <p><strong>HTML/CSS</strong></p>
                <p><strong>UTKFace Dataset</strong></p>
                <p>UTKFace dataset is a large-scale face dataset with long age span (range from 0 to 116 years old). The dataset consists of over 20,000 face images with annotations of age, gender, and ethnicity. The images cover large variation in pose, facial expression, illumination, occlusion, resolution, etc.</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Live Webcam feed for taking pictures live -->
            <h2>How it works...</h2>
            <p>With your face looking directly at the webcam initalized on your computer, our machine learning model will first identify your face indicated by the green box. The text in the top right corner will be display the result from our model based on your face.</p>
            <p>Did it get it right?</p>
            <hr>
            <input type="submit" value="Find Face"/>
            <hr>
            <img src="{{ url_for('video_feed') }}" />
          </div>
          <!-- <div class="col-md-auto">
            Variable width content
          </div>
          <div class="col col-lg-2">
            3 of 3
          </div> -->
        </div>
        <!-- <div class="row">
          <div class="col col-md-12">
              <input type="submit" value="Make a Predicition"/>
          </div> -->

        </div>
      </div>
    </section>
    
    
</body>
</html>
